<!-- 
templateType: global_partial
-->
<section class="footer-testimonial">
    <!-- Footer Start Ok -->
    <footer class="footer">
      <div class="footer-area">
        <div class="container">
          <div class="footer-top d-block d-md-flex justify-content-between">
            <div class="footer-section">
              <div class="footer-logo">
                <a href="#0"><img src="{{ get_asset_url('../../images/footer-logo.png') }}" alt="" class="img-fluid"></a>
              </div>
              <div class="footer-social">
                <ul>
                  <li><a href="https://www.instagram.com/LawyersNearMe.Ai/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="footer-section">
              <div class="footer-menu">
                <ul>
                  <li><a href="#header">Home</a></li>
                  <li><a href="#how-it-works">How It Work</a></li>
                  <li><a href="#0">About</a></li>
                  <li><a href="#0">Contact</a></li>
                </ul>
                <div class="footer-chat">
                  <a href="#0">
                    <span> <strong><img src="{{ get_asset_url('../../images/chat.png') }}" alt=""></strong> Firm Subscription</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-section">
              <div class="footer-infos">
                <ul>
                  <li><a href="#0"><i class="fa-light fa-phone-volume"></i>404-282-7202</a></li>
                  <li><a href="#0"><i class="fa-thin fa-envelope-dot"></i>AVA@JustAskAVA.com</a></li>
                  <li><a href="#0"><i class="fa-light fa-map"></i>5950 Live Oak Pkwy #370, Norcross, GA 30093</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-bottom-menu">
                  <ul>
                    <li><a href="#0">Terms & Conditions</a></li>
                    <li><a href="{{ request.base_url }}/privacy-policy/">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="copyright">
                  <p class="text-end">© 2024 Legal Leads ai . All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>