<!--
templateType: global_partial
-->
  <div class="landing-area" style="background:#000">

    <header id="header" class="header_area others header_area2" style="background:transparent">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-xl-2 col-5">
          <div class="header-logo">
            <a href="{{ request.base_url }}/">
              <img src="{{ get_asset_url('../../images/logo.png') }}" alt="logo" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-xl-7 col-5 d-block d-md-none"> 
          <div class="mobile-phone">
            <a href=""><i class="fa-solid fa-phone"></i>Call AI Agent</a>
          </div>
        </div>
        <div class="col-lg-4 col-xl-7 col-2">
          <div class="header-navarea d-block d-md-flex border-0">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="menu">
              <div class="close-btn">&times;</div>
              <ul>
                <li><a href="{{ request.base_url }}" >Home</a></li>
                <li><a href="{{ request.base_url }}/how-it-works">How It Works</a></li>
                <li><a href="{{ request.base_url }}/how-it-works/#compliance">Case Summaries</a></li>
                {# <li><a href="#0">Case Summary</a></li> #}
              </ul>
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-xl-3">
             <div class="landing-header-btn d-none d-lg-block">
              <a href="{{ request.base_url }}/contact">
                <span> <strong><img src="{{ get_asset_url('../../images/black-message.png') }}" alt=""></strong> Firm Subscription</span>
              </a>
            </div>
        </div>
      </div>
    </div>

  </header>


  </div>