.data_area{
    background: $gray3;
    .data-box{
        background: url('../imgs/data/data-bg.jpg');
        width: 1060px;
        margin: 0 auto;
        padding: 50px;
        border-radius: 40px;
        background-position:center ;
        background-size: cover;
        @media #{$md} {
        width: auto;
    }

    @media #{$xs} {
       padding: 30px 15px;
    }
        .data-box-content{
            h3{
                font-size: 32px;
                line-height: 39px;
                color:$white;
                font-weight: 400;
                @media #{$xs} {
       font-size: 28px;
       line-height: 34px;
    }
            }
            p{
                color:#D5D5D5;
                font-size: 20px;
                margin-top: 10px;
                  @media #{$xs} {
       font-size: 16px;
       
    }
            }
        }
        .data-box-content2{
            h3{
                width: 82%;
                @media #{$xs} {
       width: 100%;
    }
            }
           
        }

        .data-img{
            margin-top: 20px;
             img{
                @media #{$md} {
        width: 100%;
    }
     
            }
        }
   
    }
    .data-box-bottom{
        gap:20px;
        width: 1060px;
        margin: 0 auto;
        margin-top: 24px;
         @media #{$md} {
        width: 100%;
    }
        .data-box2{
            border-radius: 40px;
            border:1px solid #2C2C2C;
            .data-content{
                padding-left: 15px;
            padding-right: 10px;
            @media #{$xs} {
       padding: 20px;
    }
            }

             .data-img{
                img{
                    @media #{$xs} {
       width: 100%;
    }
                }
             }
            
        }
        h3{
            font-size: 28px;
                line-height: 33px;
                color:$white;
                font-weight: 400;
        }
        .data-box3{
            background: url('../imgs/data/data3.png');
             border-radius: 40px;
        background-position:center ;
        background-size: cover;
        display: flex;
    align-items: center;

     @media #{$md} {
        height: 318px;
        margin-top: 20px;
    }
         .data-content{
                padding: 0px 45px;
                  @media #{$xs} {
       padding: 20px;
    }
                h3{
                    width: 90%;
                    font-size: 28px;
                    line-height: 39px;
                    @media #{$xs} {
       width: 100%;
    }
                    
                }
            }
        }
    }
}