  <!-- All JS Files -->
  {{ require_js(get_asset_url("../../../js/jquery-3.6.1.min.js")) }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  {{ require_js(get_asset_url("../../../js/bootstrap.bundle.min.js")) }}
  {{ require_js(get_asset_url("../../../js/jquery.meanmenu.min.js")) }}
  {{ require_js(get_asset_url("../../../js/swiper-bundle.min.js")) }}
  {{ require_js(get_asset_url("../../../js/jquery.magnific-popup.min.js")) }}
  {{ require_js(get_asset_url("../../../js/counter.js")) }}
  {{ require_js(get_asset_url("../../../js/progressbar.js")) }}

  {# {{ require_js(get_asset_url("../../../js/sc-cursor.js")) }} #}
  {{ require_js(get_asset_url("../../../js/main.js")) }}


  <script></script>
  {{ standard_footer_includes }}
</body>

</html>