.case_summery {
  background: url("../imgs/case-summery/casesummery-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  .heading {
    margin-bottom: 156px;
    @media #{$xs} {
      margin-bottom: 15px;
    }
  }
  .case-summery-shape {
    position: absolute;
    top: 37%;
    left: 31%;
    @media #{$xl} {
      top: 33%;
      left: 23%;
    }
    img {
      width: 100%;
      @media #{$xl} {
        width: auto;
      }
    }
  }
  .case-summeryimg {
    position: relative;
    z-index: 99;
    img {
      width: 100%;
    }
  }
  .case-summerybox {
    padding: 28px 0px 20px 50px;
    z-index: 999;
    position: relative;
    @media #{$md} {
      padding-left: 0px;
    }
    h3 {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      color: #d5d5d5;
      width: 80%;
      @media #{$xl} {
        width: 100%;
      }
    }
  }
}

.modal.show .modal-dialog {
  transform: none;
  // max-width: 1191px;

  border: 0px solid #424242;
  border-radius: 22px;

  @media #{$lg} {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .modal-header {
    background: $black !important;
    padding: 15px 32px 15px 70px;
    @media #{$xs} {
      padding: 15px;
    }
    .modal-title {
      color: $primary;
      font-size: 40px;
      @media #{$xs} {
        font-size: 28px;
      }
    }

    button.btn-close {
      background: url("../imgs/Vector.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      width: 25px;
      height: 0px;
    }
  }
  .modal-body {
    background: $black !important;
    padding: 10px 60px 10px 60px;
    @media #{$xs} {
      padding: 20px;
    }
    .modal-con {
      padding-top: 35px;
      &:last-child {
        padding-bottom: 35px;
      }
      h6 {
        color: $primary;
        font-size: 24px;
        line-height: 36px;
      }
      p {
        color: $white;
        font-size: 18px;
        line-height: 30px;
        padding-left: 10px;
      }
      ul {
        padding-left: 10px;
        li {
          color: $white;
          font-size: 18px;
          line-height: 30px;
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            background: var(--white);
            margin-right: 10px;
            border-radius: 100px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.modal.fade#thankModal .modal-dialog {
  max-width: 730px !IMPORTANT;
  margin: 0 auto;
  @media #{$xs} {
    width: auto;
  }
}
#thankModal .modal-content {
    width: auto !important;
}

.modal.fade .modal-dialog {
  max-width: 1191px !IMPORTANT;
  @media #{$xs} {
    width: auto;
  }
}
.modal-content {
  width: 1191px !important;
  @media #{$xs} {
    width: auto;
  }
  background: $black;
  @media #{$lg} {
    max-width: 100% !important;
  }
}
