<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base-others-with-dark-footer.html" %}

{% block content %}
<!-- Contact start -->
<section>
  <div class="contact p-100">
    <div class="container">
      <h3 class="gradient-text2 text-center">Let’s have a chat</h3>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="contact_box">
            <img src="{{ get_asset_url('../images/contact.png') }}" class="contact_img" alt="contact">
            <h4>Let us help you find the legal support you need, near you.</h4>
            <div class="contact-infos">
          <ul>
            <li><a href="tel:4042827202"><i class="fa-light fa-phone-volume"></i>404-282-7202</a></li>
            <li><a href="mailto:Support@LawyersNearMe.ai"><i class="fa-thin fa-envelope-dot"></i>Support@LawyersNearMe.ai</a></li>          
            <li><a href="#"><i class="fa-light fa-map"></i>5950 Live Oak Pkwy #370, Norcross, GA 30093</a></li>
          </ul>
        </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="contact-section">
            <div class="title-btn">
              <a href="#0">Contact us</a>
            </div>
            <form class="contact-form">
              <div class="form-grp d-block d-md-flex">
                <div class="form-box">
                  <label for="firstname">First Name</label>
                  <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>
                </div>
                <div class="form-box">
                  <label for="lastname">Last Name</label>
                  <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" required>
                </div>
              </div>
              <div class="form-grp d-block d-md-flex">
                <div class="form-box">
                  <label for="phone">Phone Number</label>
                  <input type="tel" name="phone" id="phone" placeholder="Enter your number" required>
                </div>
                <div class="form-box">
                  <label for="email">Email Address</label>
                  <input type="email" name="email" id="email" placeholder="Enter your email" required>
                </div>
              </div>
              <div class="form-grp">
                <div class="form-box">
                  <label for="message" class="d-block">Message</label>
                  <textarea name="message" id="message" placeholder="Enter your message" required></textarea>
                </div>
              </div>

              <div class="submit-btn">
                <button type="submit" class="btn">Submit</button>
              </div>
              <div class="contact alert alert-success mt-3 d-none" role="alert">
                The form has been submitted successfully!
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact end -->
{% endblock %}